.table-title {
    padding: 30px 30px 100px;
    background: #fff;
    margin-bottom: 50px;
}

.table-title h4 {
    margin: 20px 0;
}

.table-product {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-product th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.table-product td {
    border: 1px solid #ddd;
    padding: 8px;
}